.row.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

a, a:hover {
  color: inherit;
}


.form-container {
  width: 400px;
  margin: auto;
}

.logout{
  box-sizing: border-box !important;
  color: #00b5ad !important;
  margin: 0 !important;
  margin: 0 !important;

}

.logout:hover {
  color: red !important;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
  color: #fff;
  text-shadow: none;
}

.floated {
  display: flex;
  justify-content: space-between;
}

.EditInput {
  border: none;
}
